body{
    background-image: url("yellow.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
#account{
    width:90%;
 
}
#ac{
    
   
    color:#fff;
    font-weight:bold;
    padding:60px;
    padding-bottom:270px;
    padding-right:20px;
    padding-left:200px;

}
.log{  
    margin-left:90px;
    padding:50px;
    padding-right:250px;
    color:#fff;
    background:#000;
    text-align:center;
    font-weight:bold;
    margin-top:100px;
    margin-right: 70px;
}

.but:hover{
    background:turquoise;
    color:white;
}
.but{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:14px;
    padding-right:14px;
    border-radius:20px;
    margin-right: 60px;
    font-weight:bold;
}
.right{
    margin-left:40px;
    margin-top:30px;
}
.sub{
    background:rgb(206, 11, 11);
    color:white;
    font-weight:bold;
    margin-top:30px;
    border-radius:18px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:14px;
    padding-left:14px;
    margin-right:10px;

}
#Username{
    border-radius:20px;
    font-weight:bold;
    text-align:center;
}
#Password{
    border-radius:20px;
    font-weight:bold;
    text-align:center;
}
.navbar-brand img{
    width:10%;
}
span{
    color:red;
    font-weight:bold;
}